<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DataModel" connectionString="Data Source=ARROW;Initial Catalog=auto_parts_store;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DatabaseApplication.Data.Properties.Settings.DatabaseConnecction"
      connectionString="Data Source=ARROW;Initial Catalog=auto_parts_store;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>