<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DataModel"
      connectionString="Data Source=USER1;Initial Catalog=auto_store_shop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>